<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <div class="app-footer-cards">
            <div class="app-cards">
                <div class="app-card app-card-footer">
                    <div class="app-footer-header">Besuchen Sie uns!</div>
                    <p><i class="fa fa-map-marker"></i> Frölichstraße 17<br />86150 Augsburg</p>
                    <p><i class="fa fa-phone"></i> +49-89-726499-0<br /><i class="fa fa-fax"></i> +49-89-726499-22</p>
                    <p><i class="fa fa-envelope-o"></i> <a class="app-footer-link" href="mailto:info@diako-augsburg.de">info@diako-augsburg.de</a></p>
                        <div class="app-social">
                            <a class="app-social-icon" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="app-social-icon" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="app-social-icon" href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                </div>  
                <div class="app-card app-card-footer map">
                    <div class="app-footer-header">So finden Sie uns!</div>
                    <a href="https://goo.gl/maps/ev39DDV3VL12">
                        <img class="img-fluid" src="{{ page.base_url }}assets/img/map.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="app-copyright">
        <p>&copy; Evangelische Diakonissenanstalt Augsburg {{ site.time | date: '%Y' }} &middot;
            <a href="/">Startseite</a> &middot;
            <a href="/impressum">Impressum</a> &middot;
            <a href="/kontakt">Kontakt</a>
        </p>
    </div>
</footer>
