// Footer

.app-footer {
    margin-top: 1rem;
}

.app-footer-content {
    background: url(../assets/images/footer.jpg) no-repeat 0 50%;
    background-size: cover;
    min-height: 400px;
    color: #000;
    font-size: $font-size-sm;
}

.app-footer-cards {
    @extend .container;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// Highlight panel header
.app-footer-header {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}


.app-footer-link {
    color: $app-primary;
    &:hover {
        color: darken(#fff, 6.5%);
    }
}


// Social icon anchors
.app-social-icon {
    display: inline-block;
    @include size(2.5rem, 2.5rem);
    margin-right: 0.5rem;
    border: 1px solid $gray-300;
    border-radius: 50%;
    color: $gray-300;
    line-height: 2.5rem;
    text-align: center;
    &:hover {
        color: lighten($gray-300, 6.5%);
    }
}

.app-copyright {
    @extend .container;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    @include media-breakpoint-up(md) {
        text-align: center;
    }
}

.adress {
    a {
        color: $app-primary;
    }
    @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.map {
    @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.template-frontpage-view {
    .adress {
    @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

.map {
    @include media-breakpoint-up(sm) {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include media-breakpoint-up(lg) {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
}

}

