//
// Cards displaying thumbnails and data collections
// ------------------------------------------------------


//== Card lists
//
//## Use a grid layout for card listings
.app-cards {
    display: flex;
    flex-wrap: wrap;
}

.app-frontpage-cards {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.5 !important;
}

//** Base card styles
.app-card {
    flex: 0 0 33.3333%;
    color: #fff;
    a {
        font-weight: 400;
        text-decoration: none;
        color: #fff;
    }
    a:hover {
        opacity: 0.9;
    }
    @include media-breakpoint-down(md) {
        flex: 0 0 50%;
    }
    @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
    }
}

//== Card layout
//
//## Reflow card contents based on viewport size
.app-card-header {
    display: flex;
    justify-content: center;
    height: 4.5rem;
    min-height: 4.5rem;
    padding: 1.5rem 1rem 1rem 2rem;
    @include gradient-x($app-secondary, $app-primary, 0%, 100%);
}

//== Card title
//
//## Title is used inside the card header
.app-card-title {
    flex: 0 1 95%;
    font-size: 1rem;
    font-weight: 700;
    @include media-breakpoint-up(sm) {
        font-size: 1.2rem;
    }
    
    // Fill svg paths per default
    path {
        fill: #fff;
    }
}

// Compute Card title spacers from list
$card-title-spacers: (
    spacer1: .5rem,
    spacer2: 1rem,
    spacer3: 1.5rem,
    spacer4: 2rem,
    spacer5: 2.5rem,
    spacer6: 3rem,
    spacer7: 3.5rem,
    spacer8: 4rem,
    spacer9: 4.5rem,
    spacer10: 5rem,
    spacer11: 5.5rem,
    spacer12: 6rem,
    spacer13: 6.5rem,
    spacer14: 7rem,
    spacer15: 7.5rem,
    spacer16: 8rem,
    spacer17: 8.5rem,
    spacer18: 9rem,
    spacer19: 9.5rem,
    spacer20: 10rem,
    spacer21: 10.5rem,
    spacer22: 11rem,
    spacer23: 11.5rem,
    spacer24: 12rem,
    spacer25: 12.5rem,
    spacer26: 13rem,
);

@each $card-spacer, $spacer-value in $card-title-spacers {
    .app-card-title-#{$card-spacer} {
        padding-right: $spacer-value;
    }
}


.app-card-icon {
    flex: 0 1 5%;
    padding: 0rem 1rem 2rem 1rem;
}

.app-card-trenner {
    height: 1.2rem;
    @include gradient-x($app-secondary, transparent, 0%, 100%);
}

//** Card content
.app-card-main {
    width: 100%;
    &-plain {
        padding-top: .5rem;
        background: $gray-light;
    }
}

//** Card footer
.app-card-footer {
    padding: 1rem;
    //flex: 0 0 33.3333%;
    img {
      width: 100%;
    }
}

//== Gutter
//
//## Add spacing to cards
.app-card-gutter {
    margin: -1rem 0 0 -1rem;
    .app-card {
        padding: 1rem 0 0 1rem;
    }
}


//** Set card content specific styles
.app-card-content {
    padding-top: 1rem;
    font-size: 1rem;
    &-default {
        background: $app-gray;
    }
    address {
        margin-bottom: 0.75rem;
    }
}

//== Banner cards
//
//## Landingpage and frontpage card groups
//## with banner images
.app-card-banner {
    background: transparent no-repeat scroll top center;
    background-size: cover;
    min-height: 250px;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1.2rem;
        @include gradient-x($app-secondary, transparent, 0%, 100%);
    }
    &-ma {
        background-image: url("../assets/img/card-ma-bg.jpg");
    }
    &-ps {
        background-image: url("../assets/img/card-ps-bg.jpg");
    }
    &-fd {
        background-image: url("../assets/img/card-fd-bg.jpg");
    }
    &-fp {
        background-image: url("../assets/img/card-fp-bg.jpg");
    }
    &-uu {
        background-image: url("../assets/img/card-uu-bg.jpg");
    }
    &-gp {
        background-image: url("../assets/img/card-gp-bg.jpg");
    }
}


//== Placeholder for missing card content
//
//## Provide call to actions and descriptions on empty cards
//## by providing highlighted card content
.app-card-placeholder {
    margin: 0.5rem auto;
    padding: 1rem;
    text-align: center;
    @include media-breakpoint-up(md) {
        padding: 2rem 3rem;
        width: 66.66%;
    }
}

//** Round hellip sign
.app-card-placeholder-sign {
    @include size(4rem);
    @extend .center-block;
    padding-top: 0.5rem;
    border-radius: 50%;
    border: 1px solid $gray-lighter;
    color: $gray-lighter;
    font-size: 2rem;
}

//== Embedded card
//
//## Remove spacing for card inside card usecase

.app-subcards {
    display: flex;
    flex-wrap: wrap;
}

.app-subcard {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    flex: 0 1 50%;
    padding: 1.5rem;
        @include media-breakpoint-down(md) {
        flex: 0 0 50%;
    }
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
        }
    path {
        fill: #fff;
    }
}

//** quick / multitarget card

.card-quick {
    @include media-breakpoint-down(md) {
        flex: 0 0 100%;
    }
    .app-card-main {
        background: $app-primary;
    }
    .app-card-content {
        font-size: 1rem;
    }
    .app-subcard-title {
    }

//** quick / Subcard pray

.subcard-tl {
    text-align: center;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
        @include media-breakpoint-down(sm) {
            border-width: 0 0 2px 0;
        }
}
.logo-pray {
    width: 102px;
    height: 103px;
    margin: 0 auto !important;
}


//** quick / Subcard donation

.subcard-tr {
    text-align: center;
    border: 2px solid #fff;
    border-width: 0 0 2px 2px;
    @include media-breakpoint-down(sm) {
      border-width: 0 0 2px 0;
    }
  }

.logo-donation {
    width: 102px;
    height: 103px;
    margin: 0 auto !important;
}

//** quick / Subcard employee

.subcard-bl {
    text-align: center;
    border: 2px solid #fff;
    border-width: 2px 0 0 2px;
    @include media-breakpoint-down(sm) {
      border-width: 0 0 0 0;
    }
}

.logo-employee {
    width: 102px;
    height: 103px;
    margin: 0 auto !important;
    padding-top: 1.5rem;
}

//** quick / Subcard parking

.subcard-br {
    text-align: center;
    border: 2px solid #fff;
    border-width: 2px 2px 0 0;
    @include media-breakpoint-down(sm) {
      border-width: 0 0 2px 0;
    }
}

.logo-parking {
    width: 102px;
    height: 103px;
    margin: 0 auto !important;
    padding-top: 1rem;
    }
}

