.app-partner-cards-wrapper {
	background: #f0f0f0;
	padding: 0;
	@include media-breakpoint-up(sm) {
		padding: 2rem;
	}
}

.app-partner-cards {
	@extend .container;

	.app-card {
        @include media-breakpoint-up(md) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include media-breakpoint-up(lg) {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }
}

.partner-card {
	min-height: 200px;
	background: #fff;
}

.partner-card-01 {
	background: #fff url("../assets/images/partner-01.jpg") no-repeat scroll center center;
}

.partner-card-02 {
	background: #fff url("../assets/images/partner-02.jpg") no-repeat scroll center center;
}

.partner-card-03 {
	background: #fff url("../assets/images/partner-03.jpg") no-repeat scroll center center;
}

.partner-card-04 {
	background: #fff url("../assets/images/partner-04.jpg") no-repeat scroll center center;
}

.partner-card-05 {
	background: #fff url("../assets/images/partner-05.jpg") no-repeat scroll center center;
}

