//
// Greeting specific image and media styles
// ----------------------------------------------------------------



#dsk-greeting {
	.btn-default {
		background: $app-primary;
		color: #fff;
	}
}

.app-images-select {
	@include make-row();
}

.app-images-select-item {
	margin-bottom: 1rem;
	@include make-col(12);
	 @include media-breakpoint-up(sm) {
        @include make-col(4);
    }

    a:hover {
		color: #fff;
	}

	.active {
		border: 1px solid $app-secondary;
		display: block;
		padding: .5rem;
		color: #fff;
	}
}

.images-select-image img {
	@extend.img-fluid;
	width: 100%;
}

.images-select-image {
	color: #fff;
}

.app-images-select-form {
	@include make-row();
	margin-left: 0;
	margin-right: 0;
	background: $app-gray-dark;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.app-images-select-form-item {
	@include make-col(12);
	 @include media-breakpoint-up(sm) {
        @include make-col(6);
    }

    .textarea-widget {
    	min-height: 300px;
    }
}

.images-select-image-title {
	background: $app-secondary;
	padding: 1rem;
}


