<div class="app-card card-quick">
  <div class="app-card-main">
    <div class="app-subcards">

     <!-- Card 01 -->
      <div class="app-subcard subcard-tl">
        <a href="http://diako.kreativkombinat.de/diako/stellenangebote">
          {% include logos/logo-employee.html %}
            <div class="app-subcard-title">
              Stellenangebote
            </div>
        </a>
      </div> 

     <!-- Card 02 -->
      <div class="app-subcard subcard-tr">
        <a href="{{ page.base_url }}fuer-patienten/beschwerdemanagement">  
          {% include logos/logo-donation.html %}
            <div class="app-subcard-title">
              Lob / Beschwerde
            </div>
        </a>
      </div>

      <!-- Card 03 -->
      <div class="app-subcard subcard-br">
        <a href="http://diako.kreativkombinat.de/spiritualitaet/gottesdienste-andachten">
          {% include logos/logo-pray.html %}
            <div class="app-subcard-title">
              Gottesdienste
            </div>
        </a>       
      </div>

      <!-- Card 04 -->
      <div class="app-subcard subcard-bl">
        <a href="http://diako.kreativkombinat.de/diako/parken">
          {% include logos/logo-parking.html %}
            <div class="app-subcard-title">
              Parkhaus
            </div>
        </a>  
      </div>

    </div>
  </div>
</div>