<div class="app-card card-pflege-und-leitungsphilosophie">
  <a href="{{ page.base_url }}pflege-in-der-stadtklinik/pflege-und-leitungsphilosophie">
    <div class="app-card-header app-card-header-pflege-und-leitungsphilosophie">
      <div class="app-card-title app-card-title-spacer1">
        Pflege- und Leitungsphilosophie
      </div>
      <div class="app-card-icon">&#10095;</div>
    </div>
    <div class="app-card-main">
      <div class="app-card-banner app-card-banner-pflege-und-leitungsphilosophie">
      </div>
    </div>
  </a>
</div>
