<div class="app-intro">
    <div class="app-intro-content">
        <div class="app-page-header">
            <div class="app-page-title">
                <h1 class="app-page-headline">Moderne Klinik mit Tradition.</h1>
            </div>
        </div>
            <p>Die stadtklinik im diako ist eine Belegklinik mit Hauptabteilungen der Anästhesie und Geriatrie. Über 50 Fachärzte der Fachrichtungen Innere Medizin, Chirurgie, Urologie, Frauenheilkunde, Anästhesie und Geriatrie sind hier tätig. Für Sie bedeutet das, dass Sie von Beginn bis zum Ende Ihrer Behandlung vom Facharzt Ihres Vertrauens begleitet werden.</p>
            <p>Für die stationäre Behandlung der rund 7500 Patienten pro Jahr stehen 135 Betten zur Verfügung. Etwa 2500 Patienten werden jährlich in unserem Ambulanten Zentrum behandelt. Im medizinischen und pflegerischen Bereich sowie in der Ausbildung beschäftigen wir zirka 250 Mitarbeiter.</p>
            <p>Die stadtklinik im diako verfügt über eine apparative Ausstattung auf modernstem technischen Stand. Höchstmögliche Sicherheit für Sie in Medizin und Pflege ist für uns selbstverständlich. Wir orientieren uns an christlichen Werten, so wie unsere Diakonissen dies seit über 150 Jahren vorleben. Sie haben Verantwortung für das Wohl der ihnen anvertrauten Menschen übernommen und das tun wir bis heute – aus Liebe zu den Menschen.</p>
	</div>
</div>