<div class="app-intro app-cards app-card-gutter">
    <div class="app-card app-intro-left">
    	<div class="app-intro-left-content">
    	</div>
    </div>
    <div class="app-card app-intro-right">
    	<div class="app-intro-right-content">
    		<p>Wir freuen uns, dass Sie bei uns vorbeischauen und wünschen Ihnen viel Freude beim Blättern in den verschiedenen Arbeitsbereichen und sozial-diakonischen Angeboten.</p> 
    		<p><a href="/gesundheit">Gesundheit</a>, <a href="/bildung">Bildung</a>, <a href="/pflege">Pflege</a>,  <a href="/gastfreundschaft">Gastfreundschaft</a> und <a href="/spiritualitaet">Spiritualität</a> sind unsere Hauptanliegen.</p> 
    		<p>Im Mittelpunkt unserer Arbeit stehen die Menschen, die sich uns anvertrauen und die uns anvertraut werden. Wir orientieren unser Handeln am biblischen Menschenbild und an der christlichen Ethik. In unserem Leitbild heißt es: Die Menschenfreundlichkeit Jesu ist unsere Motivation für Menschen da zu sein, damit Leben gelingt. Wir im diako freuen uns auf persönliche Begegnungen.</p> 
			<p>Wir wünschen Ihnen von Herzen einen guten Tag!</p>
		</div>
	</div>
</div>