<div class="app-intro">
    <div class="app-intro-content">
        <div class="app-page-header">
            <div class="app-page-title">
                <h1 class="app-page-headline">Moderne Klinik mit Tradition.</h1>
            </div>
        </div>
            <p>Das diako ist eine Belegklinik mit den Hauptabteilungen Innere Medizin/Akutgeriatrie und Anästhesie. In der stadtklinik im diako sind über 50 Fachärzte der Fachrichtungen Innere Medizin, Chirurgie, Urologie, Frauenheilkunde, Anästhesie und Geriatrie tätig.</p>

            <p>Die belegärztlich geprägte Klinikstruktur zeichnet sich durch eine hohe Spezialisierung aus. Gleichzeitig ist die Behandlung komplexer Krankheitsbilder durch die unkomplizierte kollegiale Einbeziehung der Ärzte anderer Fachrichtungen sichergestellt.</p>
            <p>In unserem Haus werden die Patientinnen und Patienten von Beginn bis zum Ende Ihrer Behandlung vom Facharzt Ihres Vertrauens begleitet. Für die stationäre und ambulante Versorgung der rund 9000 Patienten pro Jahr stehen 135 Planbetten zur Verfügung.</p>

            <p>Die Klinik verfügt über eine apparative Ausstattung auf modernstem technischen Stand. Höchstmögliche Sicherheit in Medizin und Pflege ist für uns selbstverständlich.</p>

            <p>Wir orientieren uns an christlichen Werten, so wie unsere Diakonissen dies seit über 160 Jahren vorleben. Sie haben Verantwortung für das Wohl der ihnen anvertrauten Menschen übernommen und das tun wir bis heute – aus Liebe zu den Menschen.</p>
	</div>
</div>