<div class="app-page-header container hidden-sm-down">
    <div class="app-page-title">
        <h1 class="app-page-headline">Unsere Partner.</h1>
    </div>
</div>
<div class="app-partner-cards-wrapper hidden-sm-down">
    <div class="app-partner-cards">
        <div class="app-cards app-card-gutter">
            {% include cards/partner-card.html %}
            {% include cards/partner-card-elkb.html %}
            {% include cards/partner-card-elda.html %}
            {% include cards/partner-card-vivaxx.html %}
            {% include cards/partner-card.html %}
            {% include cards/partner-card.html %}
        </div>
    </div>
</div>